h4
  margin: 10px
  font-family: 'Lato', sans-serif
  font-size: 15px
  font-weight: 200

ul
  list-style: none

.main 
  width: 650px
  height: 100vh
  background-color: $contrast-color
  margin: auto
  display: flex
  font-size: 13px
  
  .left
    flex-basis: 55%
    display: flex
    flex-direction: column
    justify-content: space-between
    .experience

    .skills
      li 
        padding: 5px
        margin-bottom: 3px
        display: inline-block
        border-radius: 15px
        padding: 5px 15px 
        color: $contrast-color 
        background-color: $bg-color
        font-weight: 100
    .education

  .right 
    flex-basis: 45%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

    .projects
      display: flex
      flex-direction: column
      div
        width: 200px
        height: 100px
        background-color: $bg-color
        margin-bottom: 15px
        color: $contrast-color

    .misc > *
      width: 200px