@media only screen and (max-width: 720px) 
  .fa 
    margin-right: 7px 
  .heading
    width: auto
    .name
      h1
        font-size: 27px
      p
        font-size: 12px
    .right
      font-size: 14px
  .main 
    flex-direction: column
    height: auto
    width: auto
    margin: 0 10px
    .left
      align-items: center
      text-align: center
      margin: 0
      .skills
        width: 75%
        ul
          width: 100%
          li
            font-size: 11px
            margin: 1px
    .right
      align-items: stretch
      .projects 
        align-items: center
        div
          width: 75%
          height: 125px
      .misc
        align-items: center
        h4
          margin: auto
        li 
          width: auto
          margin: auto



